.page {
  width: 1000px;
  background-color: #f4ecdc;
  margin: auto;
  padding: 40px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
}

.limelight-regular{
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
	padding: 10px;
}

.twenty_nineteen_text {
	color: #DB7093;
	font-weight: bold;
}

.twenty_twenty_one_text {
	color: #2E6F40;
	font-weight: bold;
}